.post-card {
  padding: 20rpx;
  margin: 20rpx;
  height: 500rpx;
  border: 1px solid #e8e8e8;
  border-radius: 20rpx;
  .post-card-image {
    height: 60%;
    background-size: cover;
  }
  .post-card-content {
    height: 20%;

    .title {
      font-size: 28rpx;
    }
    .text {
      margin: 15rpx 0;
      font-size: 25rpx;
    }
    .info {
      height: 10%;
      display: flex;
      font-size: 20rpx;
      justify-content: space-between;
    }
  }
}
